<!--<p>home works!</p>-->

<div class="row" style="margin: 10px">
  <div *ngFor="let product of products" class="col-12 col-sm-4 col-md-3 col-xl-3" style="display: flex; justify-content: center; margin-top: 20px">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.price}} Bs</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="product.imageUrl" alt="Image">
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>COMPRAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
