<h1>Mauricio</h1>

<div>
  <app-test *ngIf="sw"
  name="Mauricio" 
  (clickSave)="onClickSaveChild($event)"></app-test>
</div>
<button (click)='sw=!sw;'>Change</button>

<div *ngFor="let person of persons; let i = index">
  <p>{{person}} ---> {{i}}</p>
</div> 

<div [ngSwitch]="aux">
  <p *ngSwitchCase="3">el valor es 3</p>
  <p *ngSwitchCase="2">el valor es 2</p>
  <p *ngSwitchDefault>el valor no es 3 ni 2</p>
</div>

<div [ngStyle]="{'border': '1px solid ' + auxColor, 'color': auxColor}">
  personas
</div>
<button (click)="auxColor = 'yellow'">AMARILLO</button>
<button (click)="auxColor = 'green'">VERDE</button>
<button (click)="auxColor = 'red'">ROJO</button>

<div [style.color]="auxColor">
  autos
</div>