<h1>Mauricio</h1>

-----------------------------------------------------------------
<br>

<div *ngFor="let person of persons1">
  <div [ngStyle]="{'background': person.enable ? '#179302' : '#C82A1B'}">
    <persona 
      [name]="person.name"
      [lastName]="person.lastName"
      [age]="person.age"
      [enable]="person.enable">
    </persona>
  </div>
  <!--br-->
</div>
-----------------------------------------------------------------

<app-prod1></app-prod1>

-----------------------------------------------------------------
<div>
  <app-test *ngIf="sw"
  name="Mauricio" 
  (clickSave)="onClickSaveChild($event)"></app-test>
</div>
<button (click)='sw=!sw;'>Change</button>

<div *ngFor="let person of persons; let i = index">
  {{person}} ---> {{i}}
</div> 

<div [ngSwitch]="aux">
  <p *ngSwitchCase="3">el valor es 3</p>
  <p *ngSwitchCase="2">el valor es 2</p>
  <p *ngSwitchDefault>el valor no es 3 ni 2</p>
</div>

<div [ngStyle]="{'border': '1px solid ' + auxColor, 'color': auxColor}">
  personas
</div>
<div [style.color]="auxColor">
  autos
</div>
<button (click)="auxColor = 'yellow'">AMARILLO</button>
<button (click)="auxColor = 'green'">VERDE</button>
<button (click)="auxColor = 'red'">ROJO</button>
<br>
<br>

<div [ngClass]="{'test1': auxClass, 'test2': !auxClass}">
  ngClass Example
</div>
<div [class.test1]="auxClass">
  Class Example
</div>
<br>
<button (click)="auxClass = !auxClass">Change Class</button>
<br>

<h3>PIPES</h3>
<p>
  PIPE JSON: {{persons1 | json}}<br><br>
  PIPE UPPERCASE: {{name | uppercase}}<br><br>
  PIPE LOWERCASE: {{name | lowercase}}<br><br>
  PIPE DATE: {{'08/13/2020' | date: "dd/MM/yy"}}<br><br>
  MY PIPE: {{name | test}}
</p>

Value: <input type="number" [(ngModel)]='auxval'><br>
Exponent: <input type="number" [(ngModel)]='auxexp'><br>
<p>MY EXPO PIPE: {{auxval | expo: auxexp }}</p>

Pure: {{numbers | pure}} <br>
Impure: {{numbers | impure}} <br>
<button (click)="numbers.push(4)">Add</button>

<h3>DIRECTIVES</h3>
<div appNgColor>
  Mauricio
</div><br>
<div appNgColor>
  Mauricio
</div><br>
<div appNgColor>
  Mauricio
</div><br>

