<p>Nombre: Mauricio Vejarano &nbsp;&nbsp;&nbsp;Codigo: 47499</p>

<h1>Elecciones</h1>

<div style="background: #2F96F3; padding: 10px; width: 280px">
  Votos: {{votos}}, Habilitados: {{habilitados}}, Deshabilitados: {{deshabilitados}}
</div>
<br>
<div *ngIf="finish" style="background: green; width: 300px">
  TODOS VOTARON
</div>

<div style="boreder: '1px solid blue',">
  <h3>Mayores 65</h3>
</div> 

<br>

<div *ngFor="let p of data">
    <div *ngIf="p.edad >= 65" style="width: 300px">
      <app-card 
      [nombre] = "p.nombre"
      [edad] = "p.edad"
      [habilitado] = "p.habilitado"
      (votar)= "votar($event)">
      </app-card>
  </div>
</div>

<div style="boreder: '1px solid blue',">
  <h3>Menores 65</h3>
</div> <br>

<div *ngFor="let p of data" >
    <div *ngIf="p.edad < 65" style="width: 300px" >
      <app-card 
      [nombre] = "p.nombre"
      [edad] = "p.edad"
      [habilitado] = "p.habilitado"
      (votar)= "votar($event)">
      </app-card>
  </div>
</div>